<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1475043666088428&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
	<div class="container">
		<div class="col-md-12 text-center">
			<!--
			<div class="fb-comments" data-href="{{@blog.url}}{{url}}" data-numposts="5" data-colorscheme="light"></div>
			 -->
			 <!-- When you folk this repo, remove this line and uncomment line above instead, just use this for track issue. -->
			<div class="fb-comments" data-href="http://devahoy.com/2014/10/getting-started-with-ghost-theme-development-part1" data-numposts="5" data-colorscheme="light"></div>
		</div>
	</div>
</div>
