<header class="intro-header"
{{#if image}}
    style="background-image: url('{{image}}')">
{{else}}
    style="background-image: url('{{asset 'img/home-bg.jpg'}}')">
{{/if}}


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
